#chatbot{
    width: 64px;
    height: 64px;
    /* padding: 10px; */
    position: fixed;
    bottom: 15%;
    left: 5%;
    border-radius: 100%;
    background-image: url('../../chat_bubble.svg');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    transition: 0.25s;
}

#chatbot:hover{
    cursor: pointer;
    background-size: 60%;
    
}

#entry-box{
    width: 175px;
    height: 200px;
    background-color: #84888c;
    position: fixed;
    bottom: 17.5%;
    left: 8.75%;
    border-radius: 30px;

    display: none;
}

#entry-box input{
    margin-top: 85%;
    margin-bottom: auto;
    background-color: white;
    width: 75%;
    margin-left: 10%;
    height: 15%;
    border-radius: 15px;
}